.Header {
  text-align: center;
  width: 70%;
  margin: auto;
  padding: 10px;
}

h2 {
  font-size: 50px;
}

h5 {
  font-size: 18px;
}

h2, h5 {
  text-align: center;
  width: 50%;
  height: 60px;
  padding: 0;
  display: inline;
}
.center {
  margin: auto;
  padding: 10px;
}
.button{
  height: 70vh;
  width: 90%;
  padding: 0%;
  margin-left: 5%;
  background-color: #4CAF50;
  border-radius: 12px;
  margin-bottom: 25px;
  border: 0px solid black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button:hover {
  background-color: #0a7c0d; /* Green */
  color: white;
  cursor: pointer;
}

input {
  outline: 0;
  font-size:24px;
  width: 30%;
  text-align: center; 
  background-color: transparent;
  border-width: 0 0 2px;
  border-color: black
}

table{
  color: grey;
  border-spacing: 0;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-bottom: 25px;
}


th, td{
  margin: 0;
  padding: .5em 1.5em;
  text-align: center;
  border-width: 1px 1px;
  border-color: white;
  border-style: solid;
}

th{
  border-bottom-width: 4px;
  border-bottom-color: grey;
}

th:nth-child(even){
  border-width: 0 4px;
  border-color: grey;
  border-style: solid;
}

td:nth-child(even){
  border-width: 0px 4px;
  border-color: grey;
  border-style: solid;
}